@{
    ViewBag.Title = "Home Page";
}

<head>
</head>

<div class="row">
    <div class="col-sm-3">
        <img src="https://via.placeholder.com/150x150" type="text/javascript"/>
    </div>

    <div class="col-sm-9">
        <!-- BASIC INFORMATION FORM -->
        <div class="row">
            <h3>Basic Information</h3>
            <form>
                <div class="col-sm-6">
                    <label>First Name</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Middle Name</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Surname</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Regiment Number</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Unit/Battalion</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Date of Birth</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Occupation</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <h3>Section Creator</h3>
        <input type="text" id="section-name" placeholder="Section Name" />
        <button type="submit" value="Add" onclick="AddSection()">Add Section</button>
    <section id="created-sections">
        <table>
            <tbody id="sections"></tbody>
        </table>
    </section>
</div>

<script type="text/javascript">
    this.el = document.getElementById('sections');
    this.sections = ['One', 'Two', 'Three'];

    this.AddSection = function () {
        el = document.getElementById('section-name');

        // get the value of the section-name element
        var newSection = el.value;

        if (newSection) {
            // Add the new value
            this.sections.push(newSection.trim());
            // Reset input value
            el.value = '';
            // Display the new list
            this.FetchAllSections();
        }
    };

    this.FetchAllSections = function () {
        var data = '';
        alert(sections[3]);
        if (this.sections.length > 0) {
            for (i = 0; i < this.sections.length; i++) {
                data += '<tr>';
                data += '<td>' + this.sections[i] + '</td>';
                data += '<tr>';
            }
        }
        return this.el.innerHTML = data;
    };

    FetchAllSections();
</script>
